@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');



.timeline-wrapper {
  display: block;
  width: 90%;
  height: 35rem;
  position: relative;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
.timeline-wrapper .timeline-line {
  display: block;
  width: 100%;
  height: 1px;
  background: white;
  position: absolute;
  top: 50%;
  -webkit-box-shadow: 0 0 1px black;
  -moz-box-shadow: 0 0 1px black;
  box-shadow: 0 0 1px black;
  left: 3%;
}
.timeline-wrapper .timeline-content-day {
  height: 100%;
}
.timeline-wrapper .timeline-content-item {
  background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
  width: 6%;
  display: inline-block;
  position: relative;
  height: 100%;
  margin-right: -5px;
  -webkit-transition: width .5s;
  -moz-transition: width .5s;
  -o-transition: width .5s;
  transition: width .5s;
  z-index: 1;
}
.timeline-wrapper .timeline-content-item > span {
  height: 2rem;
  display: block;
  font-family: Roboto Slab, Open Sans;
  font-weight: 300;
  color: purple;
  letter-spacing: .2em;
  font-size: x-small;
  font-style: bolder;
  position: absolute;
  top: 50%;
  margin-top: -.25em;
  width: 100%;
  cursor: pointer;
}

.timeline-wrapper .timeline-content-item > span:before {
  content: " ";
  display: block;
  width: 2em;
  height: 2em;
  background: white;
  margin: 0 auto -3.5em auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px black;
  -moz-box-shadow: 0 0 1px black;
  box-shadow: 0 0 1px black;
}
.timeline-wrapper .timeline-content-item .timeline-content-item-reveal {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -50%;
  width: 75%;
}
.timeline-wrapper .timeline-content-item .timeline-content-item-reveal a {
  display: block;
  width: 100%;
  height: 100%;
}
.timeline-wrapper .timeline-content-item .timeline-content-item-reveal a img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  max-width: 100%;
  border: 3px solid white;
  -webkit-box-shadow: 0 0 2px black;
  -moz-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
}
.timeline-wrapper .timeline-content-item .timeline-content-item-reveal a span {
  position: absolute;
  width: 250%;
  margin-left: -75%;
  bottom: -2rem;
  left: 0;
  font-family: Roboto Slab, Open Sans;
  font-weight: 500;
  font-size: larger;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  white-space: nowrap;
  color: rgb(255, 0, 128);
}
/* .timeline-wrapper .timeline-content-item .timeline-content-item-reveal a span:after {
  content: "\203A";
} */
.timeline-wrapper .timeline-content-item.active {
  width: 20%;
}
.timeline-wrapper .timeline-content-item.active .timeline-content-item-reveal {
  display: block;
}

#year-1 {
  font-size: large;
  font-family: Roboto Slab, Open Sans;
  font-weight: 500;
  letter-spacing: -0.5em;
  margin-top: -15px;
}


#year-2 {
  font-size: large;
  font-family: Roboto Slab, Open Sans;
  font-weight: 500;
  letter-spacing: -0.5em;
  margin-top: -15px;
}

#year-3 {
  font-size: large;
  font-family: Roboto Slab, Open Sans;
  font-weight: 500;
  letter-spacing: -0.5em;
  margin-top: -15px;
}

#year-4 {
  font-size: large;
  font-family: Roboto Slab, Open Sans;
  font-weight: 500;
  letter-spacing: -0.5em;
  margin-top: -15px;
}

#year-5 {
  font-size: large;
  font-family: Roboto Slab, Open Sans;
  font-weight: 500;
  letter-spacing: -0.5em;
  margin-top: -15px;
}

#year-6 {
  font-size: large;
  font-family: Roboto Slab, Open Sans;
  font-weight: 500;
  margin-top: -15px;

}

#year-7 {
  font-size: large;
  font-family: Roboto Slab, Open Sans;
  font-weight: 500;
  margin-top: -15px;

}

#year-8 {
  font-size: large;
  font-family: Roboto Slab, Open Sans;
  font-weight: 500;
  margin-top: -15px;

}

#year-9 {
  font-size: large;
  font-family: Roboto Slab, Open Sans;
  font-weight: 500;
  margin-top: -15px;
}


#\#opaque-bg-main3 {
  background: rgb(255, 255, 255, .92);
  width: 100%;
}